body{
	background-image: url("foto/background.jpg");
	background-size: 100%;
}

#menu{
	background-color: white;
	height: auto;
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	padding: 5em;
}

#backButton{
	background-color: grey;
}
